.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  // gap: 15px;
  position: relative;
}

// =============== HEADER ================

header {
  background-color: black;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.header-wrapper {
  max-width: 1227px;
  padding: 0 15px;
  width: 100%;
  height: 70px;
  display: flex;
  gap: 15px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-button {
  padding: 0.4em 1.2em 0.5em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: inherit;
  transition: border-color 0.25s;
  margin-right: 20px;
  &:hover {
    border-color: #646cff;
    color: white;
  }
  &:active {
    outline: 4px auto -webkit-focus-ring-color;
  }
  &.active {
    color: #1a1a1a;
    background-color: #d4d4d4;
    // outline: 4px auto -webkit-focus-ring-color;
  }
}

// =============== MAIN ================

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.main-wrapper {
  max-width: 1227px;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 15px;
  // margin-top: 15px;
}

// =============== FILTERS ================

.filters {
  background-color: #1a1a1a;
  min-width: 220px;
  padding: 15px;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  // flex: 0 1 20%;
  // -webkit-box-shadow: 4px 3px 10px 2px rgba(255, 255, 255, 0.2);
  // -moz-box-shadow: 4px 3px 10px 2px rgba(255, 255, 255, 0.2);
  box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.2);

  & button,
  select {
    // background-color: #000000;
    border: solid 1px rgba(255, 255, 255, 0.473);
  }
  &-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    // margin-bottom: 5px;
  }
  &-filters {
    // flex: 1 0 auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    & button {
      width: 100%;
    }
    & select {
      width: 100%;
    }
    &__clear {
      margin-bottom: 10px;
    }
    &__lists {
      & label {
        display: flex;
        margin-bottom: 5px;
      }
    }
    &__sort {
      & label {
        display: flex;
        margin-bottom: 5px;
      }
    }
    &__years {
      & label {
        display: block;
        margin-bottom: 5px;
      }
    }
    &__genres {
      & div {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      & label {
        width: 100%;
      }
    }
  }
  &-pagination {
    &__buttons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      & button {
        width: 100px;
        text-align: center;
      }
      &-left {
        flex: 0 0 50%;
      }
      &-right {
        flex: 0 0 50%;
      }
    }
    &__info {
      display: flex;
      justify-content: center;
    }
  }
}

// =============== RESULTS ================

.results {
  // background-color: #1a1a1a;
  flex: 1 1 auto;
  align-content: flex-start;
  border-radius: 5px;
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 15px;
  width: inherit;
  &-item {
    height: 200px;
    background-color: #1a1a1a;

    // flex: 1 1 30%;
    border: solid 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    &__image {
      width: 140px;
      flex-shrink: 0;
      // background-color: lightgrey;
      overflow: hidden;
      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
    &__info {
      width: 100%;
    }
  }
}
.film {
  display: flex;
  flex-direction: column;
  &-actions {
    height: 30px;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    &__score {
      flex: 1 0 auto;
    }
    &__favorite {
      display: flex;
      align-items: center;
      cursor: pointer;
      & svg {
        width: 20px;
        height: 20px;
      }
      &:hover svg g {
        stroke: gold;
      }
      &:active svg path {
        fill: gold;
      }
      &.checked svg path {
        fill: gold;
      }
      &.checked svg g {
        stroke: gold;
      }
      &:hover.checked svg g {
        stroke: #7676768d;
      }
    }
    &__bookmark {
      display: flex;
      align-items: center;
      cursor: pointer;
      & svg {
        width: 20px;
        height: 16px;
      }
      &:hover svg path {
        fill: gold;
      }
      &:active #bookmark-secondary {
        fill: gold;
      }
      &.checked svg path {
        fill: gold;
      }
      &.checked #bookmark-secondary {
        fill: gold;
      }
      &:hover.checked svg path {
        fill: #7676768d;
      }
    }
  }
  &-text {
    font-weight: 700;
    height: 100%;
    overflow: hidden;
    padding: 0 10px;
  }
  &-details {
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px rgb(109, 109, 109);
    &:hover {
      background-color: #232323;
    }
  }
}
// =============== SINGLE PAGE ================

.single-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // backdrop-filter: blur(10px);
  // justify-content: center;
}
.description {
  flex: 1 0 auto;
  width: 100%;
  &-blur {
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    background-color: #000000a5;
  }
  &-content {
    margin: 0 auto;
    height: calc(100% - 30px);
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1227px;
    padding: 15px;
    // gap: 100px;
  }
  &-image {
    height: 45vh;
    width: 32vh;
    overflow: hidden;
    border-radius: 10px;
    // & img {
    //   object-fit: cover;
    //   width: 100%;
    //   height: 100%;
    // }
  }
  &-text {
    flex: 0 1 60%;
    height: 100%;
    padding: 0 10px;
    &__title {
      font-size: 32px;
    }
    &__score {
      font-size: 18px;
    }

    &__description {
      font-size: 18px;
    }
  }
}

.details {
  flex: 0 1 50%;
  width: 100%;
  max-width: 900px;
  padding: 15px;
  &-item {
    display: flex;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #404040;
    padding: 0 10px;
    &__title {
      flex: 0 1 30%;
    }
  }
}

// =============== SEARCH ================

.search {
  // width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.search-wrapper {
  max-width: 1227px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    text-align: center;
  }
  &-variants {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    &__item {
      font-size: 20px;
      // padding: 10px 20px;
      // border-radius: 10px;
      // cursor: pointer;
      // background-color: #1d1d1d;
      &:hover {
        background-color: #646cff;
        // color: inherit;
      }
      // &:hover a {
      //   color: inherit;
      // }
      // & a {
      //   color: inherit;
      // }
    }
  }
  &-film {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.search-item {
  height: 250px;
  width: 100%;
  // flex: 0 0 60%;
  overflow: hidden;
  background-color: #1a1a1a;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  &__image {
    width: 160px;
    flex-shrink: 0;
    // background-color: lightgrey;
    overflow: hidden;
    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    width: 100%;
  }
}

.movie {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  &-actions {
    height: 30px;
    display: flex;
    margin-bottom: 3px;
    // padding: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    &__score {
      margin-right: 50px;
    }
    &__genres {
      flex: 1 0 auto;
    }
    &__favorite {
      display: flex;
      align-items: center;
      cursor: pointer;
      & svg {
        width: 20px;
        height: 20px;
      }
      &:hover svg g {
        stroke: gold;
      }
      &:active svg path {
        fill: gold;
      }
      &.checked svg path {
        fill: gold;
      }
      &.checked svg g {
        stroke: gold;
      }
      &:hover.checked svg g {
        stroke: #7676768d;
      }
    }
    &__bookmark {
      display: flex;
      align-items: center;
      cursor: pointer;
      & svg {
        width: 20px;
        height: 16px;
      }
      &:hover svg path {
        fill: gold;
      }
      &:active #bookmark-secondary {
        fill: gold;
      }
      &.checked svg path {
        fill: gold;
      }
      &.checked #bookmark-secondary {
        fill: gold;
      }
      &:hover.checked svg path {
        fill: #7676768d;
      }
    }
  }
  &-text {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 7px;
  }
}

// =============== MODAL WINDOW ================

.modal {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: calc(100% + 15px);
  background: #000000c4;
  display: flex;
  // align-items: center;
  justify-content: center;
  & button,
  input {
    border: solid 1px rgba(255, 255, 255, 0.473);
  }
  &-window {
    position: relative;
    margin-top: 10%;
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: #1a1a1a;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.2);
    &__title {
      padding: 15px;
      text-align: center;
      margin-bottom: 20px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      & button {
        margin-top: 5px;
        width: 180px;
      }
      & input {
        width: 170px;
      }
    }
    &__close {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 5px;
      right: 5px;
      cursor: pointer;
      &:hover svg path {
        fill: #f3f3f3;
      }
      & svg {
        width: 100%;
        height: 100%;
      }
      & svg path {
        fill: rgba(255, 255, 255, 0.473);
      }
    }
  }
}

// =============== LIGHT THEME ================

@media (prefers-color-scheme: light) {
  header {
    background-color: rgba(0, 0, 0, 0.13);
  }
  .like-button {
    background-color: #e9e6e6;
    &:hover {
      color: inherit;
    }
    &.active {
      color: #1a1a1a;
      background-color: #f9f9f9;
    }
    // outline: 4px auto -webkit-foc
  }
  .filters {
    background-color: #e4e4e42c;
    border: solid 1px rgba(0, 0, 0, 0.1);
    & button,
    select {
      border: solid 1px rgba(42, 42, 42, 0.473);
    }
  }
  .results {
    background-color: inherit;
    &-item {
      background-color: #e4e4e42c;
    }
  }
  .film {
    &-details {
      border-top: solid 1px lightgrey;
      &:hover {
        background-color: #f3f3f3;
      }
    }
  }
  .description {
    &-blur {
      background-color: #ffffffcc;
    }
  }
  .modal {
    &-window {
      background-color: #fff;
      &__close {
        &:hover svg path {
          fill: #1f1f1f;
        }
        & svg path {
          fill: rgba(74, 74, 74, 0.85);
        }
      }
    }
    & button,
    input {
      border: solid 1px rgba(42, 42, 42, 0.473);
    }
  }
  .question {
    &-variants {
      &__item {
        background-color: #d4d4d4;
      }
    }
  }
  .search-item {
    background-color: inherit;
  }
}
