.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

header {
  background-color: black;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.header-wrapper {
  max-width: 1227px;
  padding: 0 15px;
  width: 100%;
  height: 70px;
  display: flex;
  gap: 15px;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-button {
  padding: 0.4em 1.2em 0.5em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: inherit;
  transition: border-color 0.25s;
  margin-right: 20px;
}
.like-button:hover {
  border-color: #646cff;
  color: white;
}
.like-button:active {
  outline: 4px auto -webkit-focus-ring-color;
}
.like-button.active {
  color: #1a1a1a;
  background-color: #d4d4d4;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.main-wrapper {
  max-width: 1227px;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 15px;
}

.filters {
  background-color: #1a1a1a;
  min-width: 220px;
  padding: 15px;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.2);
}
.filters button,
.filters select {
  border: solid 1px rgba(255, 255, 255, 0.473);
}
.filters-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.filters-filters {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.filters-filters button {
  width: 100%;
}
.filters-filters select {
  width: 100%;
}
.filters-filters__clear {
  margin-bottom: 10px;
}
.filters-filters__lists label {
  display: flex;
  margin-bottom: 5px;
}
.filters-filters__sort label {
  display: flex;
  margin-bottom: 5px;
}
.filters-filters__years label {
  display: block;
  margin-bottom: 5px;
}
.filters-filters__genres div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filters-filters__genres label {
  width: 100%;
}
.filters-pagination__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.filters-pagination__buttons button {
  width: 100px;
  text-align: center;
}
.filters-pagination__buttons-left {
  flex: 0 0 50%;
}
.filters-pagination__buttons-right {
  flex: 0 0 50%;
}
.filters-pagination__info {
  display: flex;
  justify-content: center;
}

.results {
  flex: 1 1 auto;
  align-content: flex-start;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 15px;
  width: inherit;
}
.results-item {
  height: 200px;
  background-color: #1a1a1a;
  border: solid 1px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.2);
  display: flex;
}
.results-item__image {
  width: 140px;
  flex-shrink: 0;
  overflow: hidden;
}
.results-item__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.results-item__info {
  width: 100%;
}

.film {
  display: flex;
  flex-direction: column;
}
.film-actions {
  height: 30px;
  display: flex;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.film-actions__score {
  flex: 1 0 auto;
}
.film-actions__favorite {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.film-actions__favorite svg {
  width: 20px;
  height: 20px;
}
.film-actions__favorite:hover svg g {
  stroke: gold;
}
.film-actions__favorite:active svg path {
  fill: gold;
}
.film-actions__favorite.checked svg path {
  fill: gold;
}
.film-actions__favorite.checked svg g {
  stroke: gold;
}
.film-actions__favorite:hover.checked svg g {
  stroke: rgba(118, 118, 118, 0.5529411765);
}
.film-actions__bookmark {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.film-actions__bookmark svg {
  width: 20px;
  height: 16px;
}
.film-actions__bookmark:hover svg path {
  fill: gold;
}
.film-actions__bookmark:active #bookmark-secondary {
  fill: gold;
}
.film-actions__bookmark.checked svg path {
  fill: gold;
}
.film-actions__bookmark.checked #bookmark-secondary {
  fill: gold;
}
.film-actions__bookmark:hover.checked svg path {
  fill: rgba(118, 118, 118, 0.5529411765);
}
.film-text {
  font-weight: 700;
  height: 100%;
  overflow: hidden;
  padding: 0 10px;
}
.film-details {
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 1px rgb(109, 109, 109);
}
.film-details:hover {
  background-color: #232323;
}

.single-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  flex: 1 0 auto;
  width: 100%;
}
.description-blur {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6470588235);
}
.description-content {
  margin: 0 auto;
  height: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1227px;
  padding: 15px;
}
.description-image {
  height: 45vh;
  width: 32vh;
  overflow: hidden;
  border-radius: 10px;
}
.description-text {
  flex: 0 1 60%;
  height: 100%;
  padding: 0 10px;
}
.description-text__title {
  font-size: 32px;
}
.description-text__score {
  font-size: 18px;
}
.description-text__description {
  font-size: 18px;
}

.details {
  flex: 0 1 50%;
  width: 100%;
  max-width: 900px;
  padding: 15px;
}
.details-item {
  display: flex;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid #404040;
  padding: 0 10px;
}
.details-item__title {
  flex: 0 1 30%;
}

.search {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 15px;
}

.search-wrapper {
  max-width: 1227px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.question {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.question-title {
  text-align: center;
}
.question-variants {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.question-variants__item {
  font-size: 20px;
}
.question-variants__item:hover {
  background-color: #646cff;
}
.question-film {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-item {
  height: 250px;
  width: 100%;
  overflow: hidden;
  background-color: #1a1a1a;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.2);
  display: flex;
}
.search-item__image {
  width: 160px;
  flex-shrink: 0;
  overflow: hidden;
}
.search-item__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.search-item__info {
  width: 100%;
}

.movie {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}
.movie-actions {
  height: 30px;
  display: flex;
  margin-bottom: 3px;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.movie-actions__score {
  margin-right: 50px;
}
.movie-actions__genres {
  flex: 1 0 auto;
}
.movie-actions__favorite {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.movie-actions__favorite svg {
  width: 20px;
  height: 20px;
}
.movie-actions__favorite:hover svg g {
  stroke: gold;
}
.movie-actions__favorite:active svg path {
  fill: gold;
}
.movie-actions__favorite.checked svg path {
  fill: gold;
}
.movie-actions__favorite.checked svg g {
  stroke: gold;
}
.movie-actions__favorite:hover.checked svg g {
  stroke: rgba(118, 118, 118, 0.5529411765);
}
.movie-actions__bookmark {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.movie-actions__bookmark svg {
  width: 20px;
  height: 16px;
}
.movie-actions__bookmark:hover svg path {
  fill: gold;
}
.movie-actions__bookmark:active #bookmark-secondary {
  fill: gold;
}
.movie-actions__bookmark.checked svg path {
  fill: gold;
}
.movie-actions__bookmark.checked #bookmark-secondary {
  fill: gold;
}
.movie-actions__bookmark:hover.checked svg path {
  fill: rgba(118, 118, 118, 0.5529411765);
}
.movie-text {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 7px;
}

.modal {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: calc(100% + 15px);
  background: rgba(0, 0, 0, 0.768627451);
  display: flex;
  justify-content: center;
}
.modal button,
.modal input {
  border: solid 1px rgba(255, 255, 255, 0.473);
}
.modal-window {
  position: relative;
  margin-top: 10%;
  padding: 20px;
  width: 300px;
  height: 300px;
  background-color: #1a1a1a;
  border-radius: 5px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 3px 10px 2px rgba(0, 0, 0, 0.2);
}
.modal-window__title {
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
}
.modal-window__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.modal-window__form button {
  margin-top: 5px;
  width: 180px;
}
.modal-window__form input {
  width: 170px;
}
.modal-window__close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.modal-window__close:hover svg path {
  fill: #f3f3f3;
}
.modal-window__close svg {
  width: 100%;
  height: 100%;
}
.modal-window__close svg path {
  fill: rgba(255, 255, 255, 0.473);
}

@media (prefers-color-scheme: light) {
  header {
    background-color: rgba(0, 0, 0, 0.13);
  }
  .like-button {
    background-color: #e9e6e6;
  }
  .like-button:hover {
    color: inherit;
  }
  .like-button.active {
    color: #1a1a1a;
    background-color: #f9f9f9;
  }
  .filters {
    background-color: rgba(228, 228, 228, 0.1725490196);
    border: solid 1px rgba(0, 0, 0, 0.1);
  }
  .filters button,
  .filters select {
    border: solid 1px rgba(42, 42, 42, 0.473);
  }
  .results {
    background-color: inherit;
  }
  .results-item {
    background-color: rgba(228, 228, 228, 0.1725490196);
  }
  .film-details {
    border-top: solid 1px lightgrey;
  }
  .film-details:hover {
    background-color: #f3f3f3;
  }
  .description-blur {
    background-color: rgba(255, 255, 255, 0.8);
  }
  .modal-window {
    background-color: #fff;
  }
  .modal-window__close:hover svg path {
    fill: #1f1f1f;
  }
  .modal-window__close svg path {
    fill: rgba(74, 74, 74, 0.85);
  }
  .modal button,
  .modal input {
    border: solid 1px rgba(42, 42, 42, 0.473);
  }
  .question-variants__item {
    background-color: #d4d4d4;
  }
  .search-item {
    background-color: inherit;
  }
}/*# sourceMappingURL=App.css.map */